{% extends 'usuario/cadastro_nova.html' %}
{%include 'parciais/_head.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block fomulario %}

<div class="col-lg mt-3" style="
                background-color: white;
                border-radius: 1em;
                padding: 0 !important;
                padding-bottom: 1em !important;
                margin: 1em;
                ">

    <form method="POST" action="">
        {% csrf_token %} {% if request.user.is_authenticated %}

        <h3>Atualizar dados</h3>
        {%include 'parciais/_messages.html'%}
        {{ usuarioform|crispy }}
        {% else %}
        <h3 style="
                    background-color: grey;
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    padding: 0.5em;
                    ">Cadastrar</h3>
        <div style="padding-left: 1em !important;padding-right: 1em;">
            {{ usuarioform|crispy }} {% endif %}

            <button type="submit" class="btn btn-primary btn-block btn-lg rounded-pill">
                Enviar
            </button>
        </div>
    </form>

</div>

{% endblock %}