{% load static %} {% load crispy_forms_tags %} {%include 'parciais/_head.html'%} {%include 'parciais/_messages.html'%}

<style>
    body {
        width: 100%;
        height: 100%;
        position: fixed;
    }
    
    .bg {
        margin-top: -70px !important;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    
    #login,
    #cadastro {
        background-color: white;
        border-radius: 1em;
        padding: 0 !important;
        padding-bottom: 1em !important;
    }
    
    h3 {
        background-color: grey;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        padding: 0.5em;
    }
    
    #login form,
    .crispy-form {
        padding-left: 1em !important;
        padding-right: 1em;
    }
    
    #cadastro {
        display: none;
    }
</style>

<body>
    <div class="bg" style="background-image: url({% static 'imgs/bosch_cookit.jpg' %});">
        <div class="container" style="background:none">
            <img class="rounded mx-auto d-block" src="{% static 'imgs/cookit_logo.svg' %}" alt="Logo" height="90px" style="margin: 1em;">
            <div class="row">
                {% if not request.user.is_authenticated %}
                <div class="col-lg mt-3" id="login" style=" ">
                    <h3 style="">Login</h3>
                    <div>

                    </div>
                    <form method="POST" action="{% url 'usuario:login' %}">
                        <p>Se você já fez cadastro, basta entrar com seu usuário e senha abaixo:</p>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name='username' class="form-control rounded-pill" id="InputUsuario1" aria-describedby="usuarioHelp" placeholder="Nome de Usuário">
                        </div>
                        <div class="form-group">
                            <input name='password' type="password" class="form-control rounded-pill" id="exampleInputPassword1" placeholder="Senha:">
                        </div>
                        <a href="javascript:cadastroOpen()">Ainda não tem cadastro?</a>
                        <button type="submit" class="btn btn-primary btn-block btn-lg rounded-pill">Login</button>
                    </form>
                </div>
                {% endif %}
                <div class="col-lg mt-3" id="cadastro">

                    <form method="POST" action="">
                        {% csrf_token %} {% if request.user.is_authenticated %}

                        <h3>Atualizar dados</h3>
                        {{ usuarioform|crispy }} {% else %}
                        <h3>Cadastrar</h3>
                        <div class="crispy-form">
                            {{ usuarioform|crispy }} {% endif %}

                            <button type="submit" class="btn btn-primary btn-block btn-lg rounded-pill">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>