{%load static%}
<!-- TODO:Ver se pode deixar load static nesta página-->
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Cadastro</title>
    {%include 'parciais/_head.html'%}

</head>

<body>
    <div class="bg">
        <div class="login-form">
            <form action="senha_nova.html" method="post">
                <img src="{%static 'imgs/cookit_logo.svg'%}" class="img-fluid">
                <h2 class="text-center">Faça parte da cozinha!</h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="nickname" placeholder="Nickname"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="E-mail" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="Confirme E-mail"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block login-btn">Avançar</button>
                </div>

                <div class="or-seperator"><i>ou</i></div>
                <div class="text-center social-btn">
                    <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with
                        <b>Facebook</b></a>
                    <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with
                        <b>Google</b></a>
                </div>
                <div class="hint-text">Não possui cadastro? <a href="#" class="text-success">Cadastre-se!</a></div>
            </form>
        </div>
    </div>
</body>

</html>