*{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    background-color: #F3EFEF;
}
.container{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
    padding-top: 1em;
}
.card{
    background-color: #F3EFEF;
}
.config-1{
    height: 180px !important;
}
.config-2{
    height: 340px !important;
}
textarea{
    resize: none;
}
textarea, .card{
    border-radius: 1em !important;
}
.container button, .container input{
    border-radius: 2em !important;
}
.social input{
    border-radius: 0 2em 2em 0  !important;
    width: 90%;
}
.social .input-group-text{
    border-radius: 2em 0 0 2em !important;
    width: 40px;
}