{% include 'parciais/_head.html' %} {% include 'parciais/_navbar.html'%} {% load crispy_forms_tags %}
<title>Inserindo Sua Receita - CookIt</title>
<div class="container">
    <div class="container">
        <h3>Inserindo Sua Receita</h3>
        <form class="form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% include 'parciais/_messages.html' %}
            <div class="form-group">
                {{ receitaform.nome_receita|as_crispy_field }}
            </div>
            <div class="form-group" style="display: flex;">
                {{ ingredienteform.nome_ingrediente|as_crispy_field }}
                {{ ingredienteform.unidadeMedida|as_crispy_field }}
                {{ ingredienteform.quantidade|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ receitaform.fotos|as_crispy_field }}
            </div>
            <!--                <div class="form-group">
                    <ul id="thumbnail-input-group" class="jumbotron d-flex justify-content-around p-0">
                        <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                            <a href="">
                                <i class="fas fa-camera"></i>
                            </a>
                        </li>
                        <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                            <a href="">
                                <i class="fas fa-camera"></i>
                            </a>
                        </li>
                        <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                            <a href="">
                                <i class="fas fa-camera"></i>
                            </a>
                        </li>
                        <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                            <a href="">
                                <i class="fas fa-camera"></i>
                            </a>
                        </li>
                        <li class="form-control rounded-circle d-flex justify-content-center align-items-center" id="thumbnail-input">
                            <a href="">
                                <i class="fas fa-camera"></i>
                            </a>
                        </li>
                    </ul>
                </div>
-->
            <div id="prep" class="row">
                <div id="prep-mode" class="form-group col-sm">
                    <div class="jumbotron">
                        <h4>Modo de Preparo</h4>

                        {{ receitaform.modo_preparo|as_crispy_field }}
                    </div>
                </div>
                <div id="general" class="form-group col-sm">
                    <div class="jumbotron">
                        <h4>Caracteristicas gerais</h4>
                        {{ receitaform.sabor_receita|as_crispy_field }} {{ receitaform.porcoes|as_crispy_field }}
                        <div class="row">
                            <div class="col">
                                {{ receitaform.tempo_preparo|as_crispy_field }}
                            </div>
                            <div class="col">
                                {{ receitaform.tempo_unidade_medida|as_crispy_field }}
                            </div>
                        </div>
                        {{ receitaform.dificuldade|as_crispy_field }}
                    </div>
                </div>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary btn-block rounded-pill">Postar</button>
        </form>
    </div>
    </body>

    </html>