{%include 'parciais/_head.html'%} {% include 'parciais/_navbar.html'%}
<div class="container">
    <div id="receita-receita-completa">
        <div id="dados-receita-completa">
            <div class="row">
                <div id="titulo-receita-completa" class="col">
                    <h3>Titulo da Receita</h3>
                    <p>publicado por CookIt</p>
                    <div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i> (1)
                    </div>
                </div>
                <div id="thumbnails-receita-completa" class="col">
                    <div class="row">
                        <div class="col utensils-receita-completa rounded-circle">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <div class="col utensils-receita-completa rounded-circle">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <div class="col utensils-receita-completa rounded-circle">
                            <i class="fas fa-utensils"></i>
                        </div>
                    </div>
                </div>
                <div id="opcoes-receita-completa" class="col-1">
                    <a href=""><i class="far fa-heart"></i></a>
                    <br>
                    <a href=""><i class="fas fa-share-alt"></i></a>
                    <br>
                    <a href=""><i class="fas fa-flag"></i></a>
                </div>
            </div>
            <div class="row">
                <div id="icones-receita-completa" class="col">
                    <div class="icon-text-receita-completa">
                        <i class="far fa-clock"></i>
                        <br>
                        <p>Tempo de preparo</p>
                    </div>
                    <div class="line-receita-completa"></div>
                    <div class="icon-text-receita-completa">
                        <i class="fas fa-concierge-bell"></i>
                        <br>
                        <p>Porções</p>
                    </div>
                    <div class="line-receita-completa"></div>
                    <div class="icon-text-receita-completa">
                        <i class="fas fa-burn"></i>
                        <br>
                        <p>Dificuldade</p>
                    </div>
                    <div class="line-receita-completa"></div>
                    <div class="icon-text-receita-completa">
                        <i class="far fa-heart"></i>
                        <br>
                        <p>Favoritos</p>
                    </div>
                    <div class="line-receita-completa"></div>
                    <div class="icon-text-receita-completa">
                        <i class="far fa-comment-alt"></i>
                        <br>
                        <p>Comentários</p>
                    </div>
                    <div class="line-receita-completa"></div>
                    <div class="icon-text-receita-completa">
                        <i class="far fa-calendar-alt"></i>
                        <br>
                        <p>Data de publicação</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ingredientes-receita-completa" class="col">
                    <h3>Ingredientes</h3>
                    <ul>
                        <li>
                            Ingrediente Um
                        </li>
                        <li>
                            Ingrediente Dois
                        </li>
                        <li>
                            Ingrediente Três
                        </li>
                        <li>
                            Ingrediente Quatro
                        </li>
                        <li>
                            Ingrediente Cinco
                        </li>
                    </ul>
                </div>
                <div id="modo-de-preparo-receita-completa" class="col">
                    <h3>Modo de Preparo</h3>
                    <ol>
                        <li>
                            Passo Um
                        </li>
                        <li>
                            Passo Dois
                        </li>
                        <li>
                            Passo Três
                        </li>
                        <li>
                            Passo Quatro
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Observações Adicionais</h3>
                    <div id="obad-receita-completa">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dapibus eros, at interdum odio. Integer at enim eu ligula fermentum gravida. Pellentesque non odio a diam accumsan blandit accumsan vitae lectus. Etiam vitae placerat
                            justo. Etiam vel volutpat nisi. Fusce eleifend arcu vel consequat vestibulum. Aliquam vulputate hendrerit tincidunt. Nulla in porta nunc, nec pulvinar lacus. Nullam vel eros justo. Phasellus quis lacus vel velit mollis bibendum.
                            Etiam volutpat enim non gravida maximus.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <h3>Chef</h3>
                    <div id="usuario-receita-completa">
                        <div id="dados-usuario-receita-completa" class="row">
                            <i class="fas fa-user-circle col-2"></i>
                            <div class="col">
                                <h4>Nome do Usuário</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu dapibus eros, at interdum odio. Integer at enim eu ligula fermentum gravida.
                                </p>
                            </div>
                        </div>
                        <div id="icones-usuario-receita-completa" class="row">
                            <div class="col">
                                <i class="far fa-images"></i>
                                <p>Fotos</p>
                            </div>
                            <div class="col">
                                <i class="fas fa-book"></i>
                                <p>Receitas</p>
                            </div>
                            <div class="col">
                                <i class="far fa-heart"></i>
                                <p>Favoritos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="comentarios-receita-completa"></div>
    </div>
</div>