<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cookit!</title>
    {%include 'parciais/_head.html'%}
</head>
<body>
    {% include  'parciais/_navbar.html'%}

    {% include  'parciais/_sidebar.html'%}

    
    <div class="container col">
        <div id="keywords" class="row">
            <div class="col-sm form-group">
                <input type="text" class="form-control rounded-pill" placeholder="Quero que tenha">
            </div>
            <div class="col-sm form-group">
                <input type="text" class="form-control rounded-pill" placeholder="Quero que não tenha">
            </div>
        </div>
        <!--Depois substituir por um block de conteudo-->
        {% block miniatura_receita %}
            
        {% endblock %}
    </div>
</body>
</html>
